@import url(../reveal.js/dist/theme/night.css);

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #000; }

body {
  background: #000;
  background-color: #000; }

:root {
  --background-color: #000;
}  
  
.reveal-viewport {
  background: #000;
  background-color: #000; }

.reveal section img {
  margin: 15px 0px;
  background: none;
  border: 0;
  box-shadow: none; }

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
}
